@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
body {
  background-image: url('https://media.istockphoto.com/id/487125438/photo/hand-tools.jpg?s=612x612&w=0&k=20&c=29BDKlnOJWx6O1WhW3vArbH_TU0-fj7XIc73y0MdKm0=');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.service{
  width: 400px;

}
.spare{
  width: 400px;
}

.checkbox{
  margin-left: 80px;
}

table.customer,
table.service {
  border: 1px black;
  margin-bottom: 20px;
}

table.customer td,
table.customer th,
table.service td,
table.service th {
  text-align: left;
}

table.customer td:first-child,
table.service td:first-child {
  width: 200px;

}

table.customer th,
table.service th {
  background-color: #007bff;
  color: white;
  text-align: center;
}


.background{
  background-color: rgba(255, 255, 255, 0);
}





