<div class="container mt-6 mb-7">
  <div class="row justify-content-center">
    <div class="col-lg-12 col-xl-7">
      <div class="card">
        <div class="card-body p-5">


          <div class="border-top border-gray-200 mt-4 py-4">
            <div class="row">
              <div class="col-md-6">
                <table class="customer">
                  <tr>
                    <th>
                      Tulajdonos
                    </th>
                  </tr>
                  <tr>
                    <td>Cégnév</td>
                    <td>{{clickedCompany?.companyName}}</td>

                  </tr>
                  <tr>
                    <td>Irányítószám</td>
                    <td>{{clickedCompany?.postalCode}}</td>

                  </tr>
                  <tr>
                    <td>Város</td>
                    <td>{{clickedCompany?.town}}</td>

                  </tr>
                  <tr>
                    <td>Utca és házszám</td>
                    <td>{{clickedCompany?.street}}</td>

                  </tr>
                  <tr>
                    <td>Személy neve</td>
                    <td>{{clickedCompanyEmployee?.name}}</td>

                  </tr>
                  <tr>
                    <td>Telefonszám</td>
                    <td>{{clickedCompanyEmployee?.telNum}}</td>

                  </tr>
                  <tr>
                    <td>E-mail</td>
                    <td>{{clickedCompanyEmployee?.email}}</td>


                  </tr>
                    <br>
                </table>



              </div>
              <table class="service">
                <tr>
                  <th>
                    Szerviz
                  </th>
                </tr>
                <tr>
                  <td>Cégnév</td>

                  <td>Szerszám Kuckó Kft</td>
                </tr>
                <tr>
                  <td>Irányítószám</td>

                  <td>9023</td>
                </tr>
                <tr>
                  <td>Város</td>

                  <td>Győr</td>
                </tr>
                <tr>
                  <td>Utca és házszám</td>

                  <td>Attila utca 49</td>
                </tr>
                <tr>
                  <td>Személy neve</td>

                  <td>László Péter</td>
                </tr>
                <tr>
                  <td>Telefonszám</td>

                  <td>706211429</td>
                </tr>
                <tr>
                  <td>E-mail</td>

                  <td>szerviz@szerszamkucko.hu</td>
                </tr>
                <br><br><br>

              </table>
            </div>
          </div>
          <p><strong>Javításre beadott gép adatai!</strong></p>
          <table class="table border-bottom border-gray-200 mt-3">
            <thead>
              <tr>

                <th>Megnevezés</th>
                <th>Típusszám</th>
                <th>Cikkszám</th>
                <th>Sorszám</th>
                <th>Átvétel időpontja</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td >{{clickedTool?.name}}</td>
                <td >{{clickedTool?.typeNumber}}</td>
                <td >{{clickedTool?.itemNumber}}</td>
                <td >{{clickedTool?.serialNumber}}</td>
                <td >{{clickedTool?.dateOfReceiving}}</td>
              </tr>

            <tr>
              <tr>
                <td ><strong>Hibajelenség</strong></td>
                <td>
                  <input placeholder="Kereső" (keyup.enter)="findDefect($event)">
                  <ul>
                    <li *ngFor="let defect of defects" (click)="onDefectSelect(defect)">
                      {{defect.name}}

                    </li>
                  </ul>
                </td>

              <td>
                <ul>

                  <li *ngFor="let addedDefects of addedDefects; index as i " (click)="onDefectRemove(i)">
                    {{addedDefects.name}}
                  </li>
                </ul>
              </td>
                <td>Feltárt hiba:</td>
                <td>

                  <ul>
                    <li *ngFor="let defect of selectedDefect; index as i " (click)="onDefectRemove(i)">
                      {{defect.name}}

                    </li>
                  </ul>
                </td>



            </tr>
              <tr>
                <td><strong>A tulajdonos hibaleírása</strong></td>
                <td></td>
                <td colspan="3" id="description">{{description}}</td>

              </tr>
            <tr>
              <td><strong>Feltárt hibák <button (click)="descriptionRemove($event)" >Törlés </button></strong></td>

              <td  class="data">
                <input placeholder="Feltárt hibák leírása" type="text" (keyup.enter)="setDescription($event)"/>
              </td>
              <td colspan="3" id="newDescription">{{newDescription}}</td>
            </tr>
              <tr>
                <td><strong>A gép státusza: </strong></td>
                <td >
                  <select (change)="onStatusChange(clickedTool, $event)">
                    <option >{{clickedTool?.status}}</option>
                    <option value="Folyamatban">Folyamatban</option>
                    <option value="Kész">Kész</option>
                    <option value="Lezárt" >Lezárt</option>
                    <option value="Beérkezett" >Beérkezett</option>
                  </select>
                </td>
              </tr>
            </tbody>

            </table>

            <br>
            <strong>Szükséges alkatrészek</strong>
          <tr>
            <input placeholder="Keresés névre" type="text" (keyup.enter)="findSparepartsByName($event)">
            <input placeholder="Keresés cikkszámra" type="text" (keyup.enter)="findSparepartsByItemNumber($event)">
            <ul>
              <li *ngFor="let sparepart of spareparts" (click)="onSparepartSelect(sparepart)">
                <span>{{sparepart.partName}}</span>
                <span>{{sparepart.partNumber}}</span>
              </li>
            </ul>
          </tr>

          <table>
            <tr>

              <th class="spare">Megnevezés</th>
              <th class="spare">Cikkszám</th>
              <th class="spare">Nettó ár</th>
              <th class="spare">Bruttó ár</th>
              <th class="spare">Darabszám</th>
              <th></th>
              <th class="spare">Összesen bruttó</th>
            </tr>

            <tbody>
            <tr *ngFor="let addedSpareparts of selectedSparepart; let i = index"   >
              <td (click)="onSparepartRemove(i)">{{ addedSpareparts?.partName  }} </td>
              <td (click)="onSparepartRemove(i)">{{ addedSpareparts?.partNumber }}</td>
              <td >{{ addedSpareparts?.nettoBuyingPrice }}</td>
              <td >{{ addedSpareparts?.nettoSellingPrice }}</td>
              <input type="number" [(ngModel)]="quantities[i]" (input)="calculatePrice(i)" />
              <td></td>
              <td>{{sumBruttoPrices[i]}}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td colspan="2">Javítás teljes bruttó összege:</td>

              <td><strong>{{sumBruttoPrice}}</strong></td>
            </tr>


            </tbody>
          </table>

        </div>

        <button class="btn btn-primary" type="button" (click)="onSubmit()" >Szerkesztés befejezése és mentés</button> <br>
          <button class="btn btn-primary" type="button" [routerLink]="['/home/']" >Főoldal</button>

      </div>
    </div>
  </div>
</div>
