

<nav class=" bg-light navbar-light d-flex justify-content-between shadow me-auto">

    <span>
        <div >

            <button class="button" type="button" [routerLink]="['/home/companylist']" >Ügyfelek</button>
            <button class="button" type="button" [routerLink]="['/home/defects']" >Hibák</button>
            <button class="button" type="button" [routerLink]="['/home/spareparts']" >Alkatrészek</button>
            <button class="button" type="button" [routerLink]="['/home/repairman']" >Munkatársak</button>
        </div> <br>
        <div >
            <button class="button" type="button" [routerLink]="['/home/worksheet']" >Új munkalap</button>
            <button class="button" type="button"  >Szerkesztés</button>
            <button class="button" type="button" [routerLink]="['/worksheet']" >Nyomtatás</button>


        </div> <br>
        <div>
            <button class="button" type="button" [routerLink]="['/home/tools']" >Összes </button>
            <button class="button" type="button" [routerLink]="['/home/arrived']">Beérkezett</button>
            <button class="button" type="button" [routerLink]="['/home/inprogress']">Folyamatban</button>
            <button class="button" type="button" [routerLink]="['/home/ready']">Elkészült</button>
            <button class="button" type="button" [routerLink]="['/home/closed']">Lezárt</button>
        </div> <br>

    </span>

    <div>
      <button class="button" type="button" [routerLink]="['/']">Kilépés</button>
    </div>

  <br>

</nav>
