@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');



.defect{
  width: fit-content;
}

.customer{
  width:  450px;
}

.service{
  width: 400px;

}

.spare{
  width: 400px;
}







