.card {
  margin-top: 50px; /* Térköz a felső rész és a kártya között */
  border-radius: 10px;
}

.card-header {
  background-color: #007bff; /* Kártya fejléc háttérszíne */
  color: #fff; /* Kártya fejléc szövegszíne */
}

.btn {
  margin-top: 20px; /* Térköz a gombok között */
}
