<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Alkatrész bevételezés</h2>
        </div>
        <div class="card-body">
          <form method="post" role="form" [formGroup]="form">
            <div class="form-group">
              <label class="form-label">Megnevezés</label>
              <input class="form-control" id="partName" name="partName" placeholder="Megnevezés" formControlName="partName" type="text" />
            </div>
            <div class="form-group">
              <label class="form-label">Cikkszám</label>
              <input class="form-control" id="partNumber" name="partNumber" formControlName="partNumber" placeholder="Cikkszám" type="text" />
            </div>
            <div class="form-group">
              <label class="form-label">Beszerzési ár</label>
              <input class="form-control" id="nettoBuyingPrice" name="nettoBuyingPrice" formControlName="nettoBuyingPrice" placeholder="Beszerzési ár" type="number" />
            </div>
            <div class="form-group">
              <label class="form-label">Eladási ár</label>
              <input class="form-control" id="nettoSellingPrice" name="nettoSellingPrice" formControlName="nettoSellingPrice" placeholder="Eladási ár" type="number" />
            </div>
            <div class="btn-group">
              <button class="btn btn-primary" type="button" (click)="onSave()">Alkatrész felvétel</button>
              <button class="btn btn-primary" type="button" routerLink="/spareparts">Vissza az alkatrészlistához</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
