<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">Hiba megnevezés</h4>
        </div>
        <div class="card-body">
          <form method="post" role="form" [formGroup]="form">
            <div class="mb-3">
              <label class="form-label">Megnevezés</label>
              <input class="form-control" id="name" name="name" placeholder="Megnevezés" formControlName="name" type="text" />
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <button class="btn btn-primary" (click)="onSave()">Hiba felvétel</button>
              </div>
              <div class="col-md-6 mb-3">
                <button class="btn btn-primary" type="button" routerLink="/home/defects">Vissza a hibalistához</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
