<table class="Registration">
  <tr>
    <td>
      <div class="container">
        <div class="row col-md-8 offset-md-2">
          <div class="row">
            <div class="card-header">
              <h2 class="text-center">Regisztráció</h2>
              <h4 class="text-center">Alkalmazott adatai</h4>
            </div>
            <div class="card-body">
              <form method="post" role="form" [formGroup]="form"  >

                <div class="form-group mb-3">
                  <label class="form-label">Megnevezés</label>
                  <label for="partName"></label>
                  <input class="form-control"
                         id="partName"
                         name="partName"
                         placeholder="Megnevezés"
                         formControlName="partName"
                         type="text"
                  />
                </div>
                <div class="form-group mb-3">
                  <label class="form-label">Cikkszám</label>
                  <label for="partNumber"></label>
                  <input class="form-control"
                         id="partNumber"
                         name="partNumber"
                         formControlName="partNumber"
                         placeholder="Cikkszám"
                         type="text"
                  />
                </div>
                <div class="form-group mb-3">
                  <label class="form-label">Beszerzési ár</label>
                  <label for="nettoBuyingPrice"></label>
                  <input class="form-control"
                         id="nettoBuyingPrice"
                         name="nettoBuyingPrice"
                         formControlName="nettoBuyingPrice"
                         placeholder="Beszerzési ár"
                         type="number"
                  />

                </div>

                <div class="form-group mb-3">
                  <label class="form-label">Eladási ár</label>
                  <label for="nettoSellingPrice"></label>
                  <input class="form-control"
                         id="nettoSellingPrice"
                         name="nettoSellingPrice"
                         formControlName="nettoSellingPrice"
                         placeholder="Eladási ár"
                         type="number"
                  />
                </div>
                <div class="form-group mb-3">
                  <button class="btn btn-primary" type="button" (click)="onSave()" >Alkatrész felvétel</button>
                </div>
                <div>
                <button class="btn btn-primary" type="button" routerLink="/spareparts"  >Vissza az alkatrészlistához</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </td>

  </tr>

</table>


