

  <div class="container">
    <div class="row">
      <div>Bejelentkezve:</div>
      <h1> Összes partner </h1>
    </div>

    <table class="table table-striped table-bordered table-hover">
      <thead class="table-dark">
      <tr>
        <th>Cégnév</th>
        <th>Irányítószám</th>
        <th>Város</th>
        <th>Utca, házszám</th>

        <th>Adószám</th>


      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let defect of searchList" >
        <td>{{defect.name}}</td>
        <td>{{defect.postalCode}}</td>
        <td>{{defect.town}}</td>
        <td>{{defect.street}}</td>
        <td>{{defect.taxNumber}}</td>

      </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" type="button" routerLink="/addcompany"  >Tovább a partner felvételhez</button>
  </div>


