<div class="container">
  <h2 class="text-center">Partner regisztráció</h2>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">Alkalmazott adatai</h4>
        </div>
        <div class="card-body">
          <form method="post" role="form" [formGroup]="Customerform">
            <div class="mb-3">
              <label class="form-label" for="name">Teljes név</label>
              <input class="form-control" id="name" name="name"  formControlName="name" type="text" />
            </div>
            <div class="mb-3">
              <label class="form-label" for="telnum">Telefonszám</label>
              <input class="form-control" id="telnum" name="telnum" formControlName="telNum"  type="number" />
            </div>
            <div class="mb-3">
              <label class="form-label" for="email">E-mail cím</label>
              <input class="form-control" id="email" name="email" formControlName="email"  type="email" />
            </div>
            <div class="mb-3">
              <label class="form-label">Beosztás</label>
              <select name="title" formControlName="title" class="form-control">
                <option value="Beszerző" selected>Beszerző</option>
                <option value="Tulajdonos">Tulajdonos</option>
                <option value="Vezető">Vezető</option>
                <option value="Munkás">Munkás</option>
                <option value="Magánszemély">Magánszemély</option>
              </select>
            </div>
            <div class="autocomplete mb-3">
              <input class="form-control" placeholder="A cégnevét itt tudja keresni" (keyup.enter)="findCompany($event)">
              <ul>
                <li *ngFor="let company of companies" (click)="onCompanySelect(company)">
                  {{company?.companyName}} {{company?.postalCode}} {{company?.town}} {{company?.street}} {{company?.taxNumber}}
                </li>
              </ul>
            </div>
            <div class="autocomplete mb-3">
              <label class="form-label">
                A kiválasztott cég neve: {{selectedCompany?.companyName}}
              </label>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <button class="btn btn-primary" type="button" (click)="onSave()">Regisztrál</button>
              </div>
              <div class="col-md-6 mb-3">
                <button class="btn btn-primary" type="button" routerLink="/company-list">Vissza az partnerlistához</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
