/* A táblázat szélességének beállítása */
.Registration {
  width: 100%;
}

/* A form elemek elrendezésének formázása */
.container {
  margin-top: 20px;
}

.card-header {
  background-color: #007bff; /* Kék háttérszín a kártya fejlécéhez */
  color: #fff; /* Fehér szöveg a kártya fejlécéhez */
}

.card-body {
  padding: 20px; /* Belső térköz a kártya tartalmához */
}

.form-group {
  margin-bottom: 20px; /* Térköz a form elemek között */
}

.form-label {
  font-weight: bold; /* Félkövér szöveg a címke elemekhez */
}
