<div class="container">
  <div class="row">
    <div class="col">
      <div class="text-center-h2">Bejelentkezve: {{ loggedInUser?.name }}</div>
      <h1 class="text-center-h1">Behozott gépek listája</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="status-buttons">
        <button class="btn btn-primary" (click)="fetchData()">Összes</button>
        <button class="btn btn-primary" (click)="filterByStatus('Beérkezett')">Beérkezett</button>
        <button class="btn btn-primary" (click)="filterByStatus('Folyamatban')">Folyamatban</button>
        <button class="btn btn-primary" (click)="filterByStatus('Felküldve')">Felküldve</button>
        <button class="btn btn-primary" (click)="filterByStatus('Visszaérkezett')">Visszaérkezett</button>
        <button class="btn btn-primary" (click)="filterByStatus('Kiajánlott')">Kiajánlott</button>
        <button class="btn btn-primary" (click)="filterByStatus('Elfogadva')">Elfogadva</button>
        <button class="btn btn-primary" (click)="filterByStatus('Kiértesítve')">Kiértesítve</button>
        <button class="btn btn-primary" (click)="filterByStatus('Lezárt')">Lezárt</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
        <tr>
          <th class="noSearch">
            <form [formGroup]="searchFormIdentifier" class="searchBarId" (input)="onSearchSubmitIdentifier()">
              <input type="text" placeholder="Keresés" formControlName="searchValue" class="form-control searchBarInputId">
            </form>
            Azonosító
          </th>
          <th>
            <form [formGroup]="searchFormCustomerEmployee" class="searchBar" (input)="onSearchSubmitName()">
              <input type="text" placeholder="Keresés" formControlName="searchValue" class="form-control searchBarInput">
            </form>
            Személy
          </th>
          <th>
            <form [formGroup]="searchFormCustomerCompany" class="searchBar" (input)="onSearchSubmitItemNumber()">
              <input type="text" placeholder="Keresés" formControlName="searchValue" class="form-control searchBarInput">
            </form>
            Cég neve
          </th>
          <th>
            <form [formGroup]="searchFormName" class="searchBar" (input)="onSearchSubmitName()">
              <input type="text" placeholder="Keresés" formControlName="searchValue" class="form-control searchBarInput">
            </form>
            Megnevezés
          </th>
          <th>
            <form [formGroup]="searchFormTypeNumber" class="searchBar" (input)="onSearchSubmitTypeNumber()">
              <input type="text" placeholder="Keresés" formControlName="searchValue" class="form-control searchBarInput">
            </form>
            Típusszám
          </th>
          <th>
            <form [formGroup]="searchFormItemNumber" class="searchBar" (input)="onSearchSubmitItemNumber()">
              <input type="text" placeholder="Keresés" formControlName="searchValue" class="form-control searchBarInput">
            </form>
            Cikkszám
          </th>
          <th>
            <form [formGroup]="searchFormSerialNumber" class="searchBar" (input)="onSearchSubmitSerialNumber()">
              <input type="text" placeholder="Keresés" formControlName="searchValue" class="form-control searchBarInput">
            </form>
            Sorszám
          </th>
          <th class="time">Átvétel időpontja</th>
          <th>Státusz</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let machine of searchList | slice: (currentPage - 1) * pageSize : currentPage * pageSize">
          <td (click)="selectOnClick(machine.id)">{{ machine.identifier }}</td>
          <td (click)="selectOnClick(machine.id)">{{ machine.employeeName }}</td>
          <td (click)="selectOnClick(machine.id)">{{ machine.ownerCompanyName }}</td>
          <td (click)="selectOnClick(machine.id)">{{ machine.name }}</td>
          <td (click)="selectOnClick(machine.id)">{{ machine.typeNumber }}</td>
          <td (click)="selectOnClick(machine.id)">{{ machine.itemNumber }}</td>
          <td (click)="selectOnClick(machine.id)">{{ machine.serialNumber }}</td>
          <td class="status"  (click)="selectOnClick(machine.id)">{{ machine.dateOfReceiving }}</td>
          <td class="status" >
            <select class="form-control" (change)="onStatusChange(machine, $event)">
              <option value="{{ machine.status }}" selected>{{ machine.status }}</option>
              <option value="Folyamatban">Folyamatban</option>
              <option value="Kész">Kész</option>
              <option value="Lezárt">Lezárt</option>
              <option value="Beérkezett">Beérkezett</option>
              <option value="Felküldve">Felküldve</option>
              <option value="Visszaérkezett">Visszaérkezett</option>
              <option value="Kiajánlott">Kiajánlott</option>
            </select>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <div class="pagination">
        <button class="btn btn-primary" (click)="onPreviousPage()">Előző oldal</button>
        <span>{{ currentPage }} / {{ totalPages }}</span>
        <button class="btn btn-primary" (click)="onNextPage()">Következő oldal</button>
      </div>
    </div>
  </div>
</div>


