.container {
  margin-top: 20px;
}

h1 {
  margin-bottom: 20px;
}

.status-buttons {
  width: 100%;
  text-align: center;
}

.status-buttons button {
  margin: 20px 5px;
}

.status-buttons button:first-child {
  margin-left: 0;
}

.status-buttons button:last-child {
  margin-right: 0;
}

.searchBarId,
.searchBar,
.nosearch {
  margin: 0;
}

.searchBarInputId,
.searchBarInput {
  width: 100%;
  margin-bottom: 5px;
}

.pagination {
  margin-top: 20px;
}

.text-center-h1 {
  text-align: center;
  background-color: blue;
  color: seashell;
  border-radius: 5px;
}

.table td {
  text-align: center;
  vertical-align: middle;
}

.status{
  width: 150px;

}
