<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kezdőlap</title>
</head>
<body>

    <div>
      <a>
        Üdvözli Önt szervizszolgáltatásunk.<br>
        Köszönjük hogy minket választott

      </a>
    </div>
    <div >
      <button class="main" type="button" routerLink="login" >Bejelentkezés</button>
      <button class="main" type="button" routerLink="register" >Regisztráció magánszemélyként</button>
      <button class="main" type="button" routerLink="create-company" >Regisztráció cégként</button>
    </div>
</body>
</html>
