body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcome-message {
  text-align: center;
  margin-bottom: 20px;
}

.main-buttons {
  text-align: center;
}

.main-buttons button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.main-buttons button:hover {
  background-color: #0056b3;
}
