<!DOCTYPE html>
<html lang="hu" style="background-image: url('https://media.istockphoto.com/id/487125438/photo/hand-tools.jpg?s=612x612&w=0&k=20&c=29BDKlnOJWx6O1WhW3vArbH_TU0-fj7XIc73y0MdKm0=');">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

<div class="container">
  <div class="welcome-message text-center">
    <p>Üdvözli Önt szervizszolgáltatásunk.</p>
    <p>Köszönjük, hogy minket választott.</p>
  </div>
  <div class="main-buttons d-flex justify-content-center">
    <button type="button" class="btn btn-primary mr-3" routerLink="login">Bejelentkezés</button>
    <button type="button" class="btn btn-secondary" routerLink="register">Regisztráció</button>
  </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
