<div class="container" >
  <div class="row " >

    <div class="col-lg-6 col-second">

      <form  method="post">
        <h2>Jelentkezz be!</h2>
        <div><input type="text" name="username" placeholder="E-mail" class="textinput"/></div>
        <div><input type="password" name="password" placeholder="Jelszó" class="textinput"/></div>
        <div><input type="submit" value="Bejelentkezés" class="button" routerLink="/tools"/></div>
        <div><p class="forget"><a href="/src">Elfelejtetted a jelszavadat? Kattints ide!</a></p></div>
      </form>
      <form >
        <div><input type="submit" value="Új fiókot szeretnék" class="button" routerLink="/register"/></div>
      </form>
    </div>
  </div>
</div>
