<div class="container" >
  <div class="row " >

    <div class="col-lg-6 col-second">


        <h2>Jelentkezz be!</h2>
      <form (ngSubmit)="onSubmitLogin()" #loginForm="ngForm">
        <div>
          <input class="form-control" type="text" name="email" id="email" placeholder="E-mail" [(ngModel)]="login"/>
        </div>
        <div>
          <input class="form-control" type="password" name="password" id="loginPassword" placeholder="Jelszó"  [(ngModel)]="password" />
        </div>
        <div>
          <input type="submit" value="Bejelentkezés" class="btn btn-primary btn-block mb-4" routerLink="/tools"/>
        </div>
        <div>
          <p class="forget">
            <a href="/src">Elfelejtetted a jelszavadat? Kattints ide!</a>
          </p>
        </div>
        <div>
          <input type="submit" value="Új fiókot szeretnék" class="btn btn-primary btn-block mb-4" routerLink="/register"/>
        </div>
      </form>
    </div>
  </div>
</div>
