@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

input{
  width: 130px;

}

.defect{
  width: 900px;
}

.customer{
  width:  450px;
}

.service{
  width: 400px;

}



th{
  text-align: center;
}
