<div class="container">
  <div class="row">
    <!-- BEGIN INVOICE -->
    <div class="col-xs-12">
      <div class="grid invoice">
        <div class="grid-body">
          <div class="invoice-title">
            <br>
            <div class="row">
              <div class="col-xs-12">
                <h2>Munkalap<br>
                  <span class="small">Sorszám "id"</span></h2>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-6 text-start">
              <address>
                <strong>Behozta:</strong><br>
                Twitter, Inc.<br>
                795 Folsom Ave, Suite 600<br>
                San Francisco, CA 94107<br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
              </address>
            </div>
            <div class="col-xs-6 text-right">
              <address>
                <strong>Szerviz:</strong><br>
                Szerszám Kuckó Kft<br>
                9023 Győr, Attila utca 49.<br>
                szerviz@szerszamkucko.hu<br>
                <abbr title="Phone">Tel.: 701234567</abbr>
              </address>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h3>Munkalap</h3>
              <table class="table table-striped">
                <thead>
                <tr class="line">
                  <td><strong></strong></td>
                  <td class="text-center"><strong>PROJECT</strong></td>
                  <td class="text-center"><strong>HRS</strong></td>
                  <td class="text-right"><strong>RATE</strong></td>

                </tr>
                </thead>
                <tbody>





                </tbody>
              </table>
            </div>
          </div>

          </div>
        </div>
      </div>
    </div>
    <!-- END INVOICE -->
  </div>
