<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Regisztráció</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <h2 class="text-center">Regisztráció</h2>
        <div class="card-header">
          <h4 class="text-center">Alkalmazott adatai</h4>
        </div>
        <div class="card-body">
          <form method="post" role="form" [formGroup]="form">
            <div class="form-group mb-3">
              <label class="form-label">Teljes név</label>
              <input class="form-control" id="name" name="name" placeholder="Teljes nevét írja ide!" formControlName="name" type="text">
            </div>
            <div class="form-group mb-3">
              <label class="form-label">Telefonszám</label>
              <input class="form-control" id="telnum" name="telnum" formControlName="telNum" placeholder="Telefonszámát írja ide" type="number">
            </div>
            <div class="form-group mb-3">
              <label class="form-label">E-mail cím</label>
              <input class="form-control" id="email" name="email" formControlName="email" placeholder="E-mail címét írja ide" type="email">
            </div>
            <div class="form-group mb-3">
              <label class="form-label">Jelszó</label>
              <input class="form-control" id="password" name="password" formControlName="password" placeholder="Jelszavát írja ide!" type="password">
            </div>
            <div class="form-group mb-3">
              <label class="form-label">Beosztás</label>
              <select class="form-control" name="title" formControlName="title">
                <option value="Szerelő" selected>Szerelő</option>
                <option value="Műhelyvezető">Műhelyvezető</option>
                <option value="Vezető">Vezető</option>
                <option value="Eladó">Eladó</option>
              </select>
            </div>
            <div>
              Ön a Szerszám Kuckó Kft alkalmazottaként regisztrál.
            </div>
            <br>
            <div class="form-group mb-3">
              <button class="btn btn-primary" type="button" (click)="onSave()">Regisztrál</button>
              <span>Regisztráltál már? <a routerLink="/login">Lépj be itt!</a></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
