

  <div class="container">
    <div class="row">
      <div>Bejelentkezve:</div>
      <h1> Összes gép </h1>
    </div>

    <table class="table table-striped table-bordered table-hover">
      <thead class="table-dark">
      <tr>

        <th class="noSearch">ID
          <br><br>
        </th>
        <th>Megnevezés
          <form
            [formGroup]="searchFormName"
            class="searchBar"
            (ngSubmit)="onSearchSubmitName()"

          >
            <input
              type="text"
              placeholder="Keresés"
              formControlName="searchValue"
              class="searchBarInput"
            />
          </form>
        </th>
        <th>Típusszám
          <form
            [formGroup]="searchFormTypeNumber"
            class="searchBar"
            (ngSubmit)="onSearchSubmitTypeNumber()"

          >
            <input
              type="text"
              placeholder="Keresés"
              formControlName="searchValue"
              class="searchBarInput"
            />
          </form>
        </th>
        <th>Cikkszám
          <form
            [formGroup]="searchFormItemNumber"
            class="searchBar"
            (ngSubmit)="onSearchSubmitItemNumber()"

          >
            <input
              type="text"
              placeholder="Keresés"
              formControlName="searchValue"
              class="searchBarInput"
            />
          </form>
        </th>
        <th>Sorszám
          <form
            [formGroup]="searchFormSerialNumber"
            class="searchBar"
            (ngSubmit)="onSearchSubmitSerialNumber()"

          >
            <input
              type="text"
              placeholder="Keresés"
              formControlName="searchValue"
              class="searchBarInput"
            />
          </form>
        </th>

        <th class="nosearch">

          Átvétel időpontja


        </th>

        <th>Státusz
          <form
            [formGroup]="searchFormStatus"
            class="searchBar"
            (ngSubmit)="onSearchSubmitStatus()"

          >
            <input
              type="text"
              placeholder="Keresés"
              formControlName="searchValue"
              class="searchBarInput"
            />
          </form>
        </th>


      </tr>

      </thead>
      <tbody>

      <tr *ngFor="let machine of searchList" >
        <td>{{machine.id}} </td>
        <td>{{machine.name}} </td>
        <td>{{machine.typeNumber}} </td>
        <td>{{machine.itemNumber}} </td>
        <td>{{machine.serialNumber}} </td>
        <td>{{machine.dateOfReceiving}} </td>
        <td >
          <select>
            <option value="{{machine.status}}" selected>{{machine.status}}</option>
            <option value="Folyamatban">Folyamatban</option>
            <option value="Kész">Kész</option>
            <option value="Lezárt" >Lezárt</option>
            <option value="Beérkezett" >Beérkezett</option>
           </select>
        </td>
      </tr>
      </tbody>
    </table>
  </div>


