<!DOCTYPE html>
<html lang="hu" style="background-image: url('https://media.istockphoto.com/id/487125438/photo/hand-tools.jpg?s=612x612&w=0&k=20&c=29BDKlnOJWx6O1WhW3vArbH_TU0-fj7XIc73y0MdKm0=');">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-second">
      <h2 class="text-center">Jelentkezz be!</h2>
      <form>
        <div class="form-group">
          <label class="form-label">E-mail cím</label>
          <input class="form-control" type="email" name="email" id="email"  [(ngModel)]="email" />
        </div>
        <div class="form-group">
          <label class="form-label">Jelszó</label>
          <input class="form-control" type="password" name="password" id="loginPassword"  [(ngModel)]="password" />
        </div>
        <div class="form-group">
          <input type="submit" value="Bejelentkezés" class="btn btn-primary btn-block mb-4" (click)="onLogin()" />
        </div>

        <div class="form-group">
          <button class="btn btn-outline-primary btn-block mb-4" routerLink="/register">Regisztráció</button>
        </div>

        <h1>{{ msg }}</h1>
      </form>
    </div>
  </div>
</div>
