<div class="container mt-6 mb-7">
  <div class="row justify-content-center">
    <div class="col-lg-12 col-xl-7">
      <div class="card">
        <div class="card-body p-5">


          <div class="border-top border-gray-200 mt-4 py-4">
            <div class="row">
              <div class="col-md-6">
                <table class="customer">
                  <tr>
                    <th>
                      Tulajdonos
                    </th>
                  </tr>
                  <tr>
                    <td>Cégnév</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Irányítószám</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Város</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Utca és házszám</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Személy neve</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Telefonszám</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>E-mail</td>
                    <td></td>
                    <td></td>

                  </tr>
                    <br>
                </table>



              </div>
              <table class="service">
                <tr>
                  <th>
                    Szerviz
                  </th>
                </tr>
                <tr>
                  <td>Cégnév</td>

                  <td>Szerszám Kuckó Kft</td>
                </tr>
                <tr>
                  <td>Irányítószám</td>

                  <td>9023</td>
                </tr>
                <tr>
                  <td>Város</td>

                  <td>Győr</td>
                </tr>
                <tr>
                  <td>Utca és házszám</td>

                  <td>Attila utca 49</td>
                </tr>
                <tr>
                  <td>Személy neve</td>

                  <td>László Péter</td>
                </tr>
                <tr>
                  <td>Telefonszám</td>

                  <td>706211429</td>
                </tr>
                <tr>
                  <td>E-mail</td>

                  <td>szerviz@szerszamkucko.hu</td>
                </tr>
                <br><br><br>

              </table>
            </div>
          </div>
          <p><strong>Javításre badott gép adatai!</strong></p>
          <table class="table border-bottom border-gray-200 mt-3">
            <thead>
            <tr>

              <th>Megnevezés</th>
              <th>Típusszám</th>
              <th>Cikkszám</th>
              <th>Sorszám</th>
              <th>Átvétel időpontja</th>

            </tr>
            </thead>
            <tbody>
            <tr>

              <td ></td>
              <td ></td>
              <td ></td>
              <td ></td>
              <td ></td>

            </tr>
            <tr>
              <td><strong>Hibajelenség</strong></td>
              <td colspan="6" class="defect"><input class="defect" placeholder="Keresés"> </td>
            </tr>
            <div>
              <button class="btn btn-primary" type="button" [routerLink]="['/home/addcompany']" >Hozzáadás</button>
            </div>

            <br>
            <strong>Hozzáadott alkatrészek</strong>



            <tr>

              <th>Megnevezés</th>
              <th>Cikkszám</th>
              <th>Nettó ár</th>
              <th>Bruttó ár</th>
              <th>Darabszám</th>
              <th></th>
              <th>Összesen bruttó</th>
            </tr>

            <tbody>
            <tr>
              <td ><input placeholder="Keresés"></td>
              <td ><input placeholder="Keresés"></td>
              <td ></td>
              <td ></td>
              <td ></td>
              <td ></td>
              <td ></td>
            </tr>
          <tr>
            </tbody>
          </table>
        </div>

          <button class="btn btn-primary" type="button"  >Felvétel</button> <br>
          <button class="btn btn-primary" type="button" [routerLink]="['/home/']" >Főoldal</button>

      </div>
    </div>
  </div>
</div>
