

<nav class=" bg-light navbar-light d-flex justify-content-between shadow me-auto">

    <span>
        <div >

            <button class="button" type="button" [routerLink]="['/home/company-list']" >Ügyfelek</button>
            <button class="button" type="button" [routerLink]="['/home/defects']" >Hibák</button>
            <button class="button" type="button" [routerLink]="['/home/spareparts']" >Alkatrészek</button>
            <button class="button" type="button" [routerLink]="['/home/repairman']" >Munkatársak</button>
        </div>
      <br>
        <div >
            <button class="button" type="button" [routerLink]="['/home/new-worksheet']" >Új munkalap</button>
            <button class="button" type="button" [routerLink]="['/home/tools']" >Gépnyilvántartás </button>
            <button class="button" type="button" [routerLink]="['/worksheet']" >Nyomtatás</button>

      </div>    <br>
      <div>

        <button class="button" type="button" [routerLink]="['/']">Kilépés</button>
      </div>

       <br>
    </span>
</nav>
